---
title: Movies Overview
layout: layout.njk
permalink: "/"
---

<h1>IMDB Top 950 Movies</h1>

<label for="input">Search</label>
<input type="text" id="input" list="movies" />
<datalist id="movies">
  {% for movie in imdb %}
  <option value="{{ movie.Title }}"></option>
  {% endfor %}
</datalist>
