---
title: Movies Overview
layout: layout.njk
permalink: "/"
---

<h1>IMDB Top 950 Movies</h1>
<p>
  This dataset presents detailed metadata for IMDb's Top Rated movies,
  meticulously scraped from the IMDb Top 1000 Movies list as of 2025. Each entry
  in the dataset captures a wide spectrum of attributes, making it ideal for
  data analysis, machine learning, and visualization projects focused on cinema.
</p>
<a
  href="https://www.kaggle.com/datasets/vedikagupta0/imdb-top-950-movies-dataset-2025"
  >dataset</a
>

<label for="input">Search</label>
<input type="text" id="input" list="movies" />
<datalist id="movies">
  {% for movie in imdb %}
  <option value="{{ movie.Title }}"></option>
  {% endfor %}
</datalist>
