---
title: 11ty imdb test
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Explore the IMDB Top 950 movies. Browse, search, and find detailed information on your favorite films, from classics to modern hits."
    />
    <style>
      :root {
        --dark: #17141c;
        --light: #a692b0;
      }

      body {
        font-family: "Bytesized", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        background-color: var(--dark);
        color: var(--light);
        margin: 32px;
        display: flex;
        gap: 16px;
      }

      pre {
        font-family: "Bytesized", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
      }

      li {
        list-style: none;
      }
      a {
        color: var(--light);
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      aside {
        padding-right: 16px;
        border-right: 2px solid var(--light);
        flex: 1;
      }
      main {
        flex: 3;
      }
      input {
        background-color: var(--light);
        color: var(--dark);
        font: inherit;
      }
    </style>
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bytesized&family=Doto:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <aside>
      {% for movie in imdb %}
      <li>
        <a href="/movies/{{ movie.Title | slugify }}{{ movie.Rank }}/">
          {{ movie.Rank }}. {{ movie.Title }}
        </a>
      </li>
      {% endfor %}
    </aside>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
